@{
    ViewData["Title"] = "Main Page";
}

<div class="py-5">
    <!-- add a background color using bg-info -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="display-4 text-primary">Welcome to LibroHub!</h1>
                    <p class="lead text-secondary">Your personal home library companion</p>
                    <img src="~/images/librohub-logo.png" alt="LibroHub Logo" class="img-fluid my-4" style="max-height: 200px;">
                    <p>Begin your journey with an extensive collection of books, manage your own personal library with ease, share reviews, and join our community full of book lovers.</p>
                    <div class="my-4">
                    </div>
                </div>
            </div>
        </div>

        <div id="explore" class="row mt-5">
            <div class="col-md-6">
                <!-- change columns to 6 to fill space -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Adding Books</h5>
                        <p class="card-text">Add new titles to your collection and keep order in your home library.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- change columns to 6 to fill space -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Rating Books</h5>
                        <p class="card-text">Share your impressions and rate read books. Help others in choosing their reading.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>