@{
    ViewData["Title"] = "Privacy";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card border-primary shadow">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title">LibroHub Website Regulations</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Use of the LibroHub service is tantamount to accepting the following rules:
                        </p>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item">Every user is obliged to respect copyright laws and not publish copyrighted content without the owner's consent.</li>
                            <li class="list-group-item">It is not allowed to use the service for illegal purposes, including publishing content of a discriminatory nature or inciting hatred.</li>
                            <li class="list-group-item">The user is obliged to maintain personal culture in the internal communication of the service.</li>
                            <li class="list-group-item">Any actions aimed at disrupting the operation of the service are prohibited.</li>
                            <li class="list-group-item">Each user has the right to one account. Creating multiple accounts by one person is not allowed.</li>
                            <li class="list-group-item">The user is responsible for maintaining the confidentiality of information related to his account, including password.</li>
                            <li class="list-group-item">LibroHub reserves the right to moderate content published by users.</li>
                            <li class="list-group-item">In case of a breach of the regulations, the service has the right to suspend or delete the user's account.</li>
                            <li class="list-group-item">LibroHub Service uses cookies to personalize content and analyze traffic.</li>
                            <li class="list-group-item">The service reserves the right to make changes to the regulations. Users will be informed of any changes well in advance.</li>
                        </ol>
                        <div class="my-3">
                            <p>By adhering to the above rules, you contribute to creating a friendly and valuable LibroHub community. Thank you for being part of our book family!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>